<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-box2" style="color:#59c3b7;"></i>
                    </div>
                    <div>Generación de Lotes - Nuevo Lote</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="main-card mb-3 card" style="top: -20px;">
                        <div class="card-body" id="bloqueform">
                            <h5 class="card-title">Formulario de Registro</h5>
                            <form [formGroup]="simpleForm" (ngSubmit)="guardarProceso()">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="tipoContrib">Tipo Contribuyente</label>
                                            <div>
                                                <select name="tipoContrib" id="tipoContrib" class="form-control"
                                                    formControlName="tipoContrib" [(ngModel)]="tipoContrib"
                                                    [ngClass]="{ 'is-invalid': submitted && f.tipoContrib.errors }">
                                                    <option value="">Seleccionar</option>
                                                    <option value="0">TODOS</option>
                                                    <option *ngFor="let item of dataTipoContribuyente"
                                                        [value]="item.tipcon">{{item.descon}}</option>
                                                </select>
                                                <div class="invalid-feedback" *ngIf="submitted && f.tipoContrib.errors">
                                                    <div *ngIf="f.tipoContrib.errors.required">Seleccione tipo de
                                                        contribuyente</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="tipoValor">Tipo de Tributo</label>
                                            <select name="tipoValor" id="tipoValor" [(ngModel)]="tipoValor"
                                                class="form-control" formControlName="tipoValor"
                                                [ngClass]="{ 'is-invalid': submitted && f.tipoValor.errors }">
                                                <option value="">Seleccionar</option>
                                                <option *ngFor="let item of dataTipoValor" [value]="item.tva_id">
                                                    {{item.tva_descri}}</option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && f.tipoValor.errors">
                                                <div *ngIf="f.tipoValor.errors.required">Seleccione tipo de Valor</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="position-relative form-group">
                                            <label for="anioDesde">Años a Procesar</label>
                                            <select class="form-control" [(ngModel)]="anioDesde"
                                                formControlName="anioDesde"
                                                (change)="cambiarAnio()"
                                                [ngClass]="{ 'is-invalid': submitted && f.anioDesde.errors }">
                                                <option value="" selected>Seleccionar</option>
                                                <option *ngFor="let item of anios" [value]="item.anio">{{item.anio}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && f.anioDesde.errors">
                                                <div *ngIf="f.anioDesde.errors.required">Seleccione una opción</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="position-relative form-group">
                                            <label for="anioHasta">&nbsp;</label>
                                            <select [attr.disabled]="disabledHasta?'':null" class="form-control" [(ngModel)]="anioHasta"
                                                formControlName="anioHasta"
                                                [ngClass]="{ 'is-invalid': submitted && f.anioHasta.errors }">
                                                <option value="" selected>Seleccionar</option>
                                                <option *ngFor="let item of arrayAniosHasta" [value]="item.anio">{{item.anio}}
                                                </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitted && f.anioHasta.errors">
                                                <div *ngIf="f.anioHasta.errors.required">Seleccione una opción</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="position-relative form-group">
                                            <label for="perIni">Periodos</label>
                                            <input formControlName="perIni" type="text" class="form-control" placeholder="Inicio" [(ngModel)]="perIni" (keypress)="soloNumeros($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="position-relative form-group">
                                            <label for="perFin">&nbsp;</label>
                                            <input formControlName="perFin" type="text" class="form-control" placeholder="Fin" [(ngModel)]="perFin" (keypress)="soloNumeros($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="position-relative form-group">
                                            <label for="tipoUbicacion">Ubicacion</label>
                                            <select formControlName="tipoUbicacion" name="tipoUbicacion"
                                                id="tipoUbicacion" [(ngModel)]="tipoUbicacion" class="form-control">
                                                <option value="">Seleccionar</option>
                                                <option *ngFor="let item of dataTipoUbicacion" [value]="item.dfdnid">
                                                    {{item.desdfd}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="position-relative form-group">
                                            <label for="tipoValor">Rango de monto</label>
                                            <input formControlName="montoDesde" type="text" class="form-control"
                                                [(ngModel)]="montoDesde" (keypress)="soloNumeros($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="position-relative form-group">
                                            <label for="tipoValor">&nbsp;</label>
                                            <input formControlName="montoHasta" type="text" class="form-control"
                                                [(ngModel)]="montoHasta" (keypress)="soloNumeros($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="position-relative form-group">
                                            <label for="tipoSector">Sector</label>
                                            <select formControlName="tipoSector" name="tipoSector" id="tipoSector"
                                                [(ngModel)]="tipoSector" class="form-control">
                                                <option value="" selected>Seleccionar</option>
                                                <option *ngFor="let item of dataTipoSector" [value]="item.tsec_val">
                                                    {{item.tsec_descri}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="position-relative form-group">
                                            <label for="fechaProyec">Fecha de Proyección</label>
                                            <input formControlName="fechaProyec" type="date" class="form-control"
                                                [(ngModel)]="fechaProyec" (ngModelChange)="fechaProyec = $event"
                                                (change)="cambiaProyeccion()">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <p class="text-left">
                                            <button class="mb-2 mr-2 btn-icon btn btn-info btn btn-info-mdsb"
                                                (click)="regresarProceso()"><i
                                                    class="pe-7s-back-2 btn-icon-wrapper"></i>Cancelar</button>
                                            <button class="mb-2 mr-2 btn-icon btn btn-info btn btn-info-mdsb"><i
                                                    class="pe-7s-diskette btn-icon-wrapper"></i>Guardar</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-right">
                    <ul class="header-megamenu nav">
                        <li class="nav-item">
                            <p style="margin: 0px">Municipalidad Distrital de San Borja &copy; 2022</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>