/* You can add global styles to this file, and also import other style files */

app-welcome,
app-proceso,
app-listado-contrib,
app-detalle-deuda,
app-nuevo-proceso,
app-lote,
app-nuevo-lote,
app-listado-contrib-lote,
app-detalle-deuda-lote,
app-generar-valores {
    width: 100%;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: #59C3B7 !important;
    color: #FFF !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current,
.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
    background: unset !important;
    background-color: #59C3B7 !important;
    border-color: #59C3B7 !important;
    color: #FFF !important;
}

.btn-info-mdsb {
    background-color: #FFF !important;
    border-color: #59C3B7 !important;
    color: #59C3B7 !important;
}

.btn-info-mdsb:not([disabled]):hover {
    background-color: #59C3B7 !important;
    border-color: #59C3B7 !important;
    color: #FFF !important;
}

#tablaDataProceso .dt-buttons .dt-button.buttons-excel.buttons-html5,
#tablaDetalleProceso .dt-buttons .dt-button.buttons-excel.buttons-html5 {
    visibility: hidden;
}