/* You can add global styles to this file, and also import other style files */

app-welcome{
    width: 100%;
}

app-proceso{
    width: 100%;
}

app-listado-contrib{
    width: 100%;
}

app-detalle-deuda{
    width: 100%;
}

app-nuevo-proceso{
    width: 100%;
}